.banner {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
  background-size: cover;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.title {
  font-size: 2.5rem;
  --primary-color: 24, 69%;
  --l: 53%;
  --color: hsl(var(--primary-color), var(--l));
  color: var(--color);
}
